html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
div {
  font-family: Arial;
}
#main {
  width: 100%;
  left: 0;
  top: 0;
}
#app {
  width: 100%;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.left {
  left: 10px;
  margin: 50px;
}
.margin-left {
  margin-left: 50px;
}
.margin-left-max {
  margin-left: 770px;
}
.margin-6 {
  margin: 6px;
}
.margin-12 {
  margin: 12px;
}
.padding-6 {
  padding: 12px;
}
.padding-12 {
  padding: 12px 0px 12px 12px;
}
.padding-x {
  padding: 0px 0px 10px 0px;
}
.padding-enter {
  padding: 0px 0px 30px 0px;
}
.padding-space {
  padding: 40px 10px;
}
.padding-select {
  width: 200px;
}
.buttons-container {
  width: 700px;
}
.button-background {
  border-radius: 50px;
  background-color: white;
}
.main-container {
  padding: 450px 200px 10px 200px;
  background-color: powderblue;
}
.white {
  background-color: white;
}
.select-field {
  width: 208px;
}
.best-parametr {
  color: green;
  font-weight: bold;
}
.worse-parametr {
  color: red;
}